*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: monospace;
}
.root{
    display: grid;
    grid-template-rows: 5rem repeat(4,1fr) 6rem;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height: 100vh;
}
.header{
    background-color: red;
    grid-column-start: 1;
        grid-column-end: 5;
}
.footer{
    background-color: rebeccapurple;
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 5;
}
.cate{
    background-color:aqua;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 6;
}
.main{
    background-color: aquamarine;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
}