/* Base styles */
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust for desktops (optional) */
  grid-gap: 20px;
  padding: 20px;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.item {
  width: 266px; /* Adjust for desktops (optional) */
  height: 200px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.caj_img {
  text-align: center;
}

.caj_img img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 7px;
}

.crt {
  width: 17px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.crt:hover {
  background-color: rgba(135, 207, 235, 0.218);
  border-radius: 5px;
  transform: scale(1.2);
  width: 3rem;
}

.title {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.desc_item {
  font-size: 0.9rem;
  color: #666666e0;
  margin-bottom: 10px;
  display: block;
}

.precio {
  font-size: 1.1rem;
  color: #333;
  margin-top: 10px;
  text-align: center;
}

.categoria {
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Tablet Styles (optional) */
@media only screen and (min-width: 768px) {
  /* Adjust grid-template-columns for tablets (e.g., 2 items per row) */
  .main {
    grid-template-columns: repeat(2, 1fr); /* Example for 2 items per row */
  }
}

/* Desktop Styles (optional) */
@media only screen and (min-width: 992px) {
  /* Adjust grid-template-columns for desktops (e.g., 3 items per row) */
  .main {
    grid-template-columns: repeat(3, 1fr); /* Example for 3 items per row */
  }

  /* You might want to adjust item width and other styles for desktops */
  .item {
    width: 300px; /* Example for wider items on desktops */
  }
}

/* Phone Styles (375px) */
@media only screen and (max-width: 448px) {
  .main {
    grid-template-columns: repeat(1, 1fr); /* 1 item per row */
    background-color: red;
  }

  .item {
    width: 100%; /* Full width on phones */
  }

  /* Adjust font sizes and other styles for better readability on phones */
  .title,
  .desc_item,
  .precio,
  .categoria {
    font-size: 0.9rem;
  }
}
