.modal {
    display: none;
    /* Ocultar por defecto */
    position: fixed;
    /* Fijar la posición */
    z-index: 1;
    /* Sobre otros elementos */
    left: 0;
    top: 0;
    width: 40rem;
    /* Ancho completo */
    height: 100%;
    /* Alto completo */
    overflow: auto;
    /* Scroll si es necesario */
    background-color: white;
    /* Color de fondo */
    /* Fondo con transparencia */
    padding-top: 60px;
    /* Espaciado superior */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal_login {
    display: none;
        /* Ocultar la modal por defecto */
        position: fixed;
        /* Posición fija para que se mantenga en su lugar al hacer scroll */
        top: 50%;
        /* Posicionamiento vertical en el centro */
        left: 50%;
        /* Posicionamiento horizontal en el centro */
        transform: translate(-50%, -50%);
        /* Centrar exactamente en el centro */
        background-color: rgba(0, 0, 0, 0.5);
        /* Fondo oscuro semi-transparente */
        width: 80%;
        /* Ancho de la modal */
        max-width: 600px;
        /* Ancho máximo de la modal */
        padding: 20px;
        /* Espaciado interno */
        border-radius: 10px;
        /* Bordes redondeados */
        z-index: 999;
        /* Asegura que la modal esté sobre otros elementos */
}